@use "../mixins";

.content-wrapper{
    @include mixins.flexDispaly($justify-content: space-between);
    width: 100%;
    flex-wrap: wrap;
    main{
        width: 620px;
        @include mixins.flexDispaly($flex-direction: column, $gap: 18px);
    }
    aside{
        width: 300px;     
    }
}