@use 'sass:list';
@use '../mixins';
@use '../colors';
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Varela&family=Varela+Round&display=swap');

$nav-colors: #299EC3, #EE6151, #84C14F, #5DCFF3, #FCC44D, #A99765;

.header-container{
    @include mixins.flexDispaly($flex-direction: column);
    min-width: 940px;
    >div:nth-child(1){
        background-color: colors.$header-top-layer-color;
    }
    >div:nth-child(2){
        background-color: colors.$header-bottom-layer-color;
    }
}

.header-container>div{
    display: inherit;
    justify-content: center;
    width: 100%;
    >div, >nav{
        display: inherit;
        flex-direction: row;
        width: 940px;
        height: 53px; 
    }
    @for $i from 1 through 6 {
        >nav>a:nth-child(#{$i}) {
            box-shadow: inset 0 -4px 0 -1px list.nth($nav-colors, $i);
        }
        >nav>a:nth-child(#{$i}):hover {
            box-shadow: inset 0 -56px 0 -1px list.nth($nav-colors, $i);
        }
    }
    >nav>a{
        text-decoration: none;
        padding: 0px 20px;
        @include mixins.text($color: colors.$header-primary-text-color, $fontweight: 700);
        @include mixins.flexDispaly($align-items: center);
        transition: box-shadow .45s ease-in-out;
    }
}

.header-logo-container{
    display: flex;
    gap: 9px;
    img{
        cursor: pointer;
        @include mixins.icon(colors.$header-icon-background-color, 14px, 21px, 15px 26px 17px 23px);
    }
    h1{
        cursor: pointer;
        margin: 0;
        @include mixins.text($color: colors.$header-primary-text-color, $fontsize: 24px, $lineheight: 27px);
        @include mixins.flexDispaly($align-items: center);
        padding-top: 16.5px;
        padding-bottom: 9.5px;
    }
}

.header-top-stripe{
    @include mixins.flexDispaly($justify-content: space-between);
    >div{
        display: inherit;
        img{
            @include mixins.icon(colors.$header-icon-background-color, 16px, 16px, 18px 23px 19px 23px);
        }
        >nav{
          display: inherit;
          padding-top: 14.5px;
          padding-bottom: 11.5px;
          margin-right: 29px;
          gap: 34.5px  
        }
        >nav a{
            text-decoration: none;
            @include mixins.text($color: colors.$header-primary-text-color, $font-family: 'Varela Round', $fontsize: 14px, $lineheight: 27px )
        }
    }
}