@use '../mixins';
@use '../colors';

.sidebar{
    width: 100%;
    background-color: colors.$sidebar-background-post-color;
    height: 665px;
    margin-bottom: 30px;
}

.sidebar-top-menu{
    background-color: colors.$sidebar-top-menu-background-color;
    @include mixins.flexDispaly($justify-content: space-between, $align-items: auto);
    padding: 18px 30px;
    >button{
        cursor: pointer;
        border: none;
        background: transparent;
        text-decoration: underline;
        text-underline-offset: 5px;
        padding: 0;
        @include mixins.text($color: colors.$sidebar-primary-text-color, $font-family: 'Varela Round', $fontsize: 14px, $fontstyle: normal)
    }
    >button:hover{
        color: rgba($color: colors.$sidebar-active-color, $alpha: 0.6)
    }
    >button.active{
        color: colors.$sidebar-active-color;
    } 
}

.sidebar-post{
    background-color: colors.$sidebar-background-post-color;
    padding: 14px 30px 0px;
    align-items: center;
    border-bottom: 1px solid colors.$sidebar-post-border-bottom-color;
    >img{
        align-self: flex-start;
    }
    .post-info{
        width: 165px;
        height: fit-content;
        p{
            color: colors.$sidebar-secondary-text-color !important;
        }
        h3{
            color: colors.$sidebar-primary-text-color !important;
        }
    }
    .comment-status-container{
        top: 21px;
        left: 160px;
        color: colors.$sidebar-secondary-text-color !important;
    }
}

.sidebar-post:hover{
    transition: 450ms;
    background-color: colors.$sidebar-background-post-color-active;
}

