@use '../mixins';
@use '../colors';

.social-box{
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h3{
        @include mixins.text($color: colors.$social-action-text-color, $fontsize: 24px, $fontweight: 700, $lineheight: 33px);
        margin-left: 3px;
        margin-bottom: 6px;
    }
}

.social-network{
    display: flex;
    background-color: colors.$social-action-background-color;
    >img{
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        object-fit: cover;
    }
    button{
        outline: none;
        cursor: pointer;
        text-align: start;
        border: none;
        min-width: 120px;
        flex-shrink: 0;
        padding: 12px 8px 10px 15px;
        background-color: colors.$social-action-background-color;
        @include mixins.text($color: colors.$social-action-text-color, $fontweight: 700, $lineheight: 18px);
        width: fit-content;
    }
    p{
        width: 100%;
        padding: 11px 8px 12px 15px;
        background-color: colors.$social-number-of-user-background-color;
        @include mixins.text($color: colors.$social-number-of-user-text-color, $font-family: 'Varela Round', $fontsize: 14px, $lineheight: 17px);
    }
}