$action-text-color: #363F48;
$number-of-user-text-color: #FFF;
$action-background-color: #DDD;
$number-of-user-background-color: #4D4382;

@mixin text($color: $action-text-color, $font-family: 'Bitter', $fontsize: 18px, $fontstyle: normal, $fontweight: 400, $lineheight: normal){
    margin: 0;
    color: $color;
    font-family: $font-family, serif;
    font-size: $fontsize;
    font-style: $fontstyle;
    font-weight: $fontweight;
    line-height: $lineheight;
}

.social-box{
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h3{
        @include text($fontsize: 24px, $fontweight: 700, $lineheight: 33px);
        margin-left: 3px;
        margin-bottom: 6px;
    }
}

.social-network{
    display: flex;
    
    img{
        width: 40px;
        height: 40px;
    }
    button{
        outline: none;
        cursor: pointer;
        text-align: start;
        border: none;
        min-width: 120px;
        flex-shrink: 0;
        padding: 12px 8px 10px 15px;
        background-color: $action-background-color;
        @include text($fontweight: 700, $lineheight: 18px);
        width: fit-content;
    }
    
    p{
        width: 100%;
        padding: 11px 8px 12px 15px;
        background-color: $number-of-user-background-color;
        @include text($color: $number-of-user-text-color, $font-family: 'Varela Round', $fontsize: 14px, $lineheight: 17px);
    }
}