@use '../mixins';
@use '../colors';

.single-article-cover{
    background-repeat: no-repeat;
    background-size: cover;
    text-align: start;
    position: relative;
    min-width: 940px;
    height: 588px;
    margin-bottom: 8px;
    
    >div{
        width: 751px;
        height: fit-content;
        position: absolute;
        bottom: 34px;
        left: 30px;
        @include mixins.flexDispaly($flex-direction: column, $gap: 12px);
    
        p{
            @include mixins.text($color: colors.$single-article-cover-title-text-color, $font-family: 'Varela Round', $fontsize: 12px, $lineheight: 14px);
        }

        h1{
            @include mixins.text($color: colors.$single-article-cover-title-text-color, $fontsize: 44px, $fontweight: 700);
        }
    }
}

.white-layer{
    width: 940px;
    position: absolute;
    bottom: -1px;
    z-index: 0;
}

.single-article-content{
    text-align: start;
    background-color: colors.$single-article-content-background-color;
    p{
        @include mixins.text($color: colors.$single-article-content-text-color, $fontsize: 14px, $lineheight: 22px);
        margin: 37px 18px 42px 30px;
    }

    h3{
        @include mixins.text($color: colors.$single-article-content-text-color, $fontweight: 700);
        margin: 30px 20px 18px 30px !important;
    }

    h3 + p{
        margin-top: 18px;
    }

    img{
        object-fit: cover;
        width: 100%;
        border-top: 1px solid #DDD;
        border-bottom: 1px solid #DDD;
    }

    .source-container{
        
        @include mixins.text($color: colors.$single-article-content-text-color, $fontsize: 14px, $lineheight: 22px);
        margin: 30px 20px 18px 30px;
        a{
            text-decoration: underline;
            margin-left: 5px;
        }
    } 
}

.single-article-author{
    text-align: start;
    background-color: colors.$single-article-content-background-color;
    width: calc(100% - 55px);
    padding: 16px 25px 30px 30px;
    >h2{
        @include mixins.text($color: colors.$single-article-author-title-color, $fontsize: 24px, $fontweight: 700, $lineheight: 33px);
        margin-bottom: 30px;
    }

    >div{
        @include mixins.flexDispaly($justify-content: space-between);
        img{
            width: 110px;
            height: 110px;
            object-fit: cover;
        }
        p{
            width: 435px;
            @include mixins.text($color: colors.$single-article-content-text-color, $font-family: 'Varela', $fontsize: 13px, $lineheight:20px);
        }
    }
}