/*Article*/
$article-primary-text-color: #363F48;
$article-secondary-text-color: #666666;
$article-link-color: #3677B5;
$article-box-background-color: #ffffff;
$article-carouse-background-color: #ffffff;

/*Article List*/
$article-list-content-background-color: #FFFFFF;
$article-list-primary-text-color: #363F48;
$article-list-secondary-text-color: #666666;
$article-list-aritcle-content-text-color: #444444;
$article-list-border-color: #DDDDDD;
$article-list-read-article-button-background-color: #4D4382;
$article-list-read-article-button-background-acitve-color: #3a2d7a;
$article-list-read-article-button-text-color: #FFFFFF;
$article-list-page-button-background-color: #DDD;
$article-list-page-button-background-active-color: #4D4382;
$article-list-page-button-primary-text-color: #4D4382;
$article-list-page-button-secondary-text-color: #FFFFFF;

/*Header*/
$header-primary-text-color: #ffffff;
$header-icon-background-color: rgba(#ffffff, 0.05);
$header-top-layer-color: #252525;
$header-bottom-layer-color: #4D4382;

/*Sidebar*/
$sidebar-top-menu-background-color: #3e3668;
$sidebar-background-post-color: #4d4382;
$sidebar-background-post-color-active:#453c75;
$sidebar-primary-text-color: #FFF;
$sidebar-secondary-text-color: #ACB3BA;
$sidebar-active-color: #FCC44D;
$sidebar-post-border-bottom-color: rgba($color: black, $alpha: 0.2);

/*Social*/
$social-action-text-color: #363F48;
$social-number-of-user-text-color: #FFF;
$social-action-background-color: #DDD;
$social-number-of-user-background-color: #4D4382;

/*Footer*/
$footer-background-color: #252525;
$footer-border-color: #4D4382;
$footer-element-color: #333;
$footer-creditental-color: #999;

/*Info Footer*/
$info-footer-text-color: #666;
$info-footer-kenaz-title-color: #45B0E3;

/*Footer Post*/
$fotter-post-title-color: #FFF;
$fotter-post-border-bottom: rgba($color: #666, $alpha: 0.2);

/*Twitter Feed*/
$twitter-title-color: #FFF;
$twitter-primary-text-color: #CCC;
$twitter-secondary-text-color: #666;

/*Newsletter*/
$newsletter-text-primary-color: #CCC;
$newsletter-text-secondary-color: #666;
$newsletter-input-background-color: #333;
$newsletter-input-text-color: #999;
$newsletter-button-background-color: #4D4382;

/*Widget*/
$widget-tag-default-text-color: #666;
$widget-tag-default-background-color: #333;
$widget-tag-selected-text-color: #CCC;
$widget-tag-selected-background-color: #4D4382;
$widget-container-title: #CCC;

/*Cover Article*/
$cover-article-primary-text-color: #EEF6FA;
$cover-article-button-border-color: #FFF;
$cover-article-button-active-background-color: #FFF;
$cover-article-button-active-text-color: #000;

/*Modal Window*/
$modal-window-primary-text-color: #666;
$modal-window-secondar-text-color: #252525;
$modal-window-cancel-button-default-background-color: rgb(236, 236, 236);
$modal-window-cancel-button-active-background-color: rgb(221, 221, 221);
$modal-window-backdrop-color: rgba(0, 0, 0, 0.6);
$modal-window-background-color: #FFF;
$modal-window-border-color: #CCC;

/*Post*/
$post-primary-text-color: #CCC;
$post-secondary-text-color: #666;
$post-image-border-color: #FFF;

/*Comment Section*/
$comment-section-image-border-color: #CCC;
$comment-section-primary-text-color: #444;
$comment-section-name-color: #4D4382;
$comment-section-reply-name-color: #4D4382;
$comment-section-date-color: #666;
$comment-section-background-color: #FFFFFF;
$comment-section-title-color: #363F48;
$comment-section-input-text-color: #666666;
$comment-section-input-background-color: #DDDDDD;
$comment-section-sumbit-button-text-color: #FFFFFF;
$comment-section-sumbit-button-background-color: #4D4382;
$comment-section-sumbit-button-background-color-active: #382f6a;

/*Single Article*/
$single-article-cover-title-text-color: #222;
$single-article-content-text-color: #444;
$single-article-content-background-color: #FFF;
$single-article-author-title-color: #363F48;