@use './mixins';
@use './colors';

$cover-article-scale-animation-duration: 800ms;
$cover-article-hover-button-animation-duration: 1750ms;

.cover-news-carousel{
    width: 940px;
    height: 425px;
    margin-bottom: 19px;
    position: relative;
    .left-gray-icon, .right-gray-icon{
        cursor: pointer;
        position: absolute;
        z-index: 1;
        top: 177px;
        width: 36px;
        height: 53px; 
    }
    .left-gray-icon:hover, .right-gray-icon:hover{
        transition: $cover-article-scale-animation-duration;
        scale: 1.15;
    }
    .left-gray-icon:not(:hover), .right-gray-icon:not(:hover) {
        transition: $cover-article-scale-animation-duration;
     } 
    .left-gray-icon{
        left: 28px;
    }
    .right-gray-icon{
        right: 28px;
    }
}

.cover-news{
    min-width: 940px;
    height: 425px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: start;
    position: relative;
    >div{
        width: 588px;
        height: 113px;
        position: absolute;
        top: 241px;
        left: 30px;
        @include mixins.flexDispaly($flex-direction: column, $gap: 12px);
        >div{
            @include mixins.flexDispaly;
            >p{
                @include mixins.text($color: colors.$cover-article-primary-text-color, $font-family: 'Varela Round', $fontsize: 12px, $lineheight: 14px);
            }
            >p:nth-child(1){
                margin-right: 33px;
            }
            >img{
                width: 16px;
                height: 14px;
                margin-right: 6px;
                margin-top: 2px;
            }
        }
        h1{
            @include mixins.limitTextDisplayOnLines($number-of-lines: 2);
            @include mixins.text($color: colors.$cover-article-primary-text-color, $fontsize: 34px, $fontweight: 700);
        }
    }
    >button{
        cursor: pointer;
        border: 1px solid colors.$cover-article-button-border-color;
        background: transparent;
        @include mixins.text($color: colors.$cover-article-primary-text-color, $font-family: 'Varela Round', $fontsize: 14px, $lineheight: 17px);
        position: absolute;
        left: 30px;
        top: 364px;
        padding: 6px 18px;
    }
    >button:hover{
        transition: $cover-article-hover-button-animation-duration;
        background: colors.$cover-article-button-active-background-color;
        color: colors.$cover-article-button-active-text-color;
    }
    >button:not(:hover){
        transition: $cover-article-hover-button-animation-duration;
    }
}

.black-layer{
    width: 940px;
    position: absolute;
    bottom: 0;
    z-index: 0;
}