@use './mixins';
@use './colors';

.modal-window{
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: colors.$modal-window-backdrop-color;
}

.modal-window.show-modal {
    display: block;
    opacity: 1;
}

.modal-window-content {
    background-color: colors.$modal-window-background-color;
    margin: calc((100vh - 545px)/2) auto;
    padding: 1em;
    border: 1px solid colors.$modal-window-border-color;
    width: fit-content;
}

.modal-window-top-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    h2{
        @include mixins.text($color: colors.$modal-window-primary-text-color, $fontsize: 18px, $fontweight: 700);
    }
    button{
        padding: 0;
        border-radius: 38px;
        width: 38px;
        cursor: pointer;
        border: none;
        outline: none;
        background: colors.$modal-window-cancel-button-default-background-color;
        @include mixins.text($color: colors.$modal-window-primary-text-color, $font-family: sans-serif, $fontsize: 32px);
    }
    button:hover{
        transition: 450ms;
        background: colors.$modal-window-cancel-button-active-background-color;
    }
}