@use './mixins';
@use './colors';

.post{
    cursor: pointer;
    @include mixins.flexDispaly($justify-content: space-between, $align-items: auto);
    height: 98px;
    position: relative;
    text-align: start;

    >img{
        width: 70px;
        height: 70px;
        object-fit: cover;
        border: 2px solid colors.$post-image-border-color;
    }

    .post-info{
        flex-shrink: 0;
        p{
            @include mixins.text($color: colors.$post-secondary-text-color, $font-family: 'Varela Round', $fontsize: 10px, $lineheight: 16px);
            
        }
        h3{
            @include mixins.text($color: colors.$post-primary-text-color, $fontsize: 14px, $fontweight: 700);
            @include mixins.limitTextDisplayOnLines(3);
        }
    }
}

.comment-status-container{
    width: 49;
    height: fit-content;
    @include mixins.flexDispaly($justify-content: auto, $align-items: end, $gap: 6px);
    position: absolute;
    top: 3px; left: 190px;
    >img{
        width: 11px;
        height: 10px;
    }
    p{
        @include mixins.text($color: colors.$post-secondary-text-color, $font-family: 'Varela Round', $fontsize: 10px, $lineheight: 12px);
    }
}