$primary-text-color: #363F48;
$secondary-text-color: #666;


@mixin text($color: $primary-text-color, $font-family: 'Bitter', $fontsize: 18px, $fontstyle: normal, $fontweight: 400, $lineheight: normal){
    margin: 0;
    color: $color;
    font-family: $font-family, serif;
    font-size: $fontsize;
    font-style: $fontstyle;
    font-weight: $fontweight;
    line-height: $lineheight;
}

@mixin flexDispaly($flex-direction: row, $justify-content: flex-start, $align-items: flex-start, $gap:0){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}

@mixin limitTextDisplayOnLines($number-of-lines: 4){
    display: -webkit-box;
    -webkit-line-clamp: $number-of-lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.big-article-tumbnail{
    cursor: pointer;
    height: 100%;
    @include flexDispaly($flex-direction: column, $justify-content: space-between);

    >img{
        width: 100%;
        object-fit: cover;
    }
    >div{
        width: 100%;
        >div{
            @include flexDispaly( $justify-content: space-between);
            margin-bottom: 4px;
            p{
                @include text($color: $secondary-text-color, $font-family: 'Varela Round', $fontsize: 12px, $lineheight: 14px);
            }
            .comment-container{
                @include flexDispaly($align-items: end, $gap: 4px);
                img{
                    width: 11px;
                    height: 10px;
                    filter: invert(35%);
                }
            }
        }
        h3{
            @include text( $fontsize: 14px, $fontweight: 700, $lineheight: 18px);
            @include limitTextDisplayOnLines;
        }
    }
}

.small-article-tumbnail-container{
    width: 100%;
    height: 210px;
    flex-wrap: wrap;
    @include flexDispaly($flex-direction:column, $justify-content: space-between, $align-items: space-between);
}

.big-article-tumbnail-container{
    width: 100%;
    height: 220px;
    @include flexDispaly($justify-content: space-between);
}

.small-article-tumbnail{
    cursor: pointer;
    width: 260px;
    height: 90px;
    
    @include flexDispaly( $justify-content: space-between, $gap: 15px);
    
    >img{
        width: 120px;
        height: 90px;
        object-fit: cover;
    }

    >div{
        p{
            @include text($color: $secondary-text-color, $font-family: 'Varela Round', $fontsize: 12px, $lineheight: 14px);
            margin-bottom: 4px;
        }

        h3{
            @include text( $fontsize: 14px, $fontweight: 700, $lineheight: 18px);
            @include limitTextDisplayOnLines;
        }
    }
}

.big-article-tumbnail:hover, .small-article-tumbnail:hover{
    transition: 150ms;
    opacity: 0.75;
}

.big-article-tumbnail:not(:hover), .small-article-tumbnail:not(:hover){
    transition: 150ms;
}
