@use "../mixins";
@use "../colors";

.big-article-tumbnail{
    cursor: pointer;
    height: 100%;
    @include mixins.flexDispaly($flex-direction: column, $justify-content: space-between);
    >img{
        width: 100%;
        object-fit: cover;
    }
    >div{
        width: 100%;
        >div{
            @include mixins.flexDispaly( $justify-content: space-between);
            margin-bottom: 4px;
            p{
                @include mixins.text($color: colors.$article-secondary-text-color, $font-family: 'Varela Round', $fontsize: 12px, $lineheight: 14px);
            }
            .comment-container{
                @include mixins.flexDispaly($align-items: end, $gap: 4px);
                img{
                    width: 11px;
                    height: 10px;
                    filter: invert(35%);
                }
            }
        }
        h3{
            @include mixins.text($color: colors.$article-primary-text-color, $fontsize: 14px, $fontweight: 700, $lineheight: 18px);
            @include mixins.limitTextDisplayOnLines;
        }
    }
}

.small-article-tumbnail-container{
    width: 100%;
    height: 210px;
    flex-wrap: wrap;
    @include mixins.flexDispaly($flex-direction:column, $justify-content: space-between, $align-items: space-between);
}

.big-article-tumbnail-container{
    width: 100%;
    height: 220px;
    @include mixins.flexDispaly($justify-content: space-between);
}

.small-article-tumbnail{
    cursor: pointer;
    width: 260px;
    height: 90px;
    @include mixins.flexDispaly( $justify-content: space-between, $gap: 15px);
    >img{
        width: 120px;
        height: 90px;
        object-fit: cover;
    }
    >div{
        p{
            @include mixins.text($color: colors.$article-secondary-text-color, $font-family: 'Varela Round', $fontsize: 12px, $lineheight: 14px);
            margin-bottom: 4px;
        }

        h3{
            @include mixins.text($color: colors.$article-primary-text-color, $fontsize: 14px, $fontweight: 700, $lineheight: 18px);
            @include mixins.limitTextDisplayOnLines;
        }
    }
}

.big-article-tumbnail:hover, .small-article-tumbnail:hover{
    transition: 150ms;
    opacity: 0.75;
}

.big-article-tumbnail:not(:hover), .small-article-tumbnail:not(:hover){
    transition: 150ms;
}
