@use "../mixins";
@use "../colors";

.category-carousel{
    overflow: hidden;
    text-align: start;
    background-color: colors.$article-carouse-background-color;
    height: 295px;
    padding: 15px 30px 20px;
    @include mixins.flexDispaly($flex-direction: column, $justify-content: space-between);
    >div:nth-child(1){
        width: 100%;
        @include mixins.flexDispaly($justify-content: space-between, $align-items: center);
        h2{
            @include mixins.text($color: colors.$article-primary-text-color, $fontsize: 24px, $fontweight: 700, $lineheight: 33px);
        }
    }

    >div:nth-child(2){
        gap: 30px;
        height: 220px; 
    }
}

.navigation-carousel-icon-container{
    @include mixins.flexDispaly($gap: 14px );
    img{
        cursor: pointer;
        width: 16px;
        height: 22px;
        flex-shrink: 0; 
    }
}