@use '../mixins';
@use '../colors';
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Varela&family=Varela+Round&display=swap');

.footer-container{
    flex-shrink: 0;
    background-color: colors.$footer-background-color;
    border-top: 23px solid colors.$footer-border-color;
    >hr{
        height: 3px;
        flex-shrink: 0;
        background: colors.$footer-element-color;
        border: none;
        margin: 0;
    }
}

.footer-top-content{
    margin: 70px 0px 67px;
    @include mixins.center();
    >div:nth-child(1){
        @include mixins.flexDispaly($gap: 17px);
        margin-bottom: 68px;
    }
    >div:nth-child(2){
        @include mixins.flexDispaly($justify-content: space-between);
    }
}

.footer-bottom-content{
    margin-top: 19px;
    @include mixins.center();
    @include mixins.flexDispaly($justify-content: space-between);
    p{
        @include mixins.text($color: colors.$footer-creditental-color, $font-family: 'Varela Round', $fontsize: 12px);
    }
    padding-bottom: 144px;
}
