@use '../mixins';
@use '../colors';

.info-footer{
   margin-top: -13px;
   width: 302px; 
   p{
        @include mixins.text($color: colors.$info-footer-text-color, $fontsize: 14px, $lineheight: 20px );
        text-align: start;
        margin: 21.78px 0px 23px;
    } 
}

.footer-logo-container{
    @include mixins.flexDispaly($gap: 18px );

    img{
        cursor: pointer;
        width: 28px;
        height: 43px;
        padding-bottom: 1.22px;
    }

    h1{
        cursor: pointer;
        @include mixins.text($color: colors.$info-footer-kenaz-title-color, $fontsize: 29.623px, $lineheight: 51.807px);
        @include mixins.flexDispaly($align-items: center);
        margin-top: -7.78px;
    }
}

.footer-social-media-icons{
    @include mixins.flexDispaly($gap: 6px);
    >img{
        width: 38px;
        height: 37px;
          
    }
}
