@use '../mixins';
@use '../colors';

.twitter-feed-container{
    text-align: start;
    width: 296px;
    display: flex;
    flex-direction: column;
    gap: 29px;
    >h2{
        @include mixins.text($color: colors.$twitter-title-color, $fontsize: 24px, $fontweight: 700, $lineheight: 33px);
        margin-bottom: -10px;
    }
}

.twitter-post{
    
    >div{
        display: flex;
        align-items: end;
        gap: 1px;
        margin-bottom: 10.5px;
        img{
            width: 24px;
            height: 18px;
        }

        p{
            @include mixins.text($color: colors.$twitter-secondary-text-color, $fontsize: 14px, $lineheight: 16px);
        }
        
    }
    >p{
        @include mixins.limitTextDisplayOnLines();
        @include mixins.text($color: colors.$twitter-primary-text-color, $font-family: 'Varela', $fontsize: 13px, $lineheight: 18px);
    }
}